<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>MedJunction: Your One-Stop Shop for All Your Medical Needs</title>
</head>
<body>
    <header>
        <h1>Welcome to MedJunction</h1>
        <p>Your One-Stop Shop for All Your Medical Needs</p>
    </header>
    <nav>
        <button onclick="location.href='/create_profile'">Create New Profile</button>
        <button onclick="location.href='/get_all_profile'">View Existing Profile</button>
    </nav>
    <main>
        <section>
            <h2>Our Services</h2>
            <ul>
                <li>Medical Supplies</li>
                <li>Healthcare Providers Directory</li>
                <li>Telemedicine Services</li>
                <li>Wellness Resources</li>
                <li>Healthcare Information</li>
            </ul>
        </section>
        <section>
            <h2>Why Choose MedJunction?</h2>
            <ul>
                <li>Convenience</li>
                <li>Quality Assurance</li>
                <li>Accessibility</li>
                <li>Privacy and Security</li>
            </ul>
        </section>
        <section>
            <h2>Get Started Today</h2>
            <p>Experience the convenience of MedJunction for yourself. Whether you're in need of medical supplies, seeking healthcare providers, or looking to improve your overall well-being, we're here to help. Visit our website or download our mobile app to get started on your health journey today.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 MedJunction. All rights reserved.</p>
    </footer>
</body>
</html>
